.main-container {
    border: 1px solid black;
    width: 90rem;
    height: 332rem;
}

.hirebright {
    border: 1px solid black;
    height: 3rem;
    width: 12.478rem;
    margin-top: 3.438rem;
    margin-left: 4.5rem;
}

.navbar {
    position: absolute;
    width: 56rem;
    height: 2.813rem;
    top: 3.5rem;
    left: 26.625rem;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.content-wrapper {
    position: absolute;
    width: 53.75rem;
    max-width: 53.75rem;
    height: 19.25rem;
    top: 13.875rem;
    left: 18.125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border: 1px solid black;
}

.screen {
    position: absolute;
    width: 75.25rem;
    height: 30rem;
    top: 38.125rem;
    left: 7.375rem;
    border: 1px solid black;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: absolute;
    width: 72.8125rem;
    height: 43.125rem;
    top: 73.125rem;
    left: 7.125rem;
    gap: 0px;
    border: 1px solid black;
}

.trial {
    position: absolute;
    width: 90rem;
    height: 32rem;
    top: 116.25rem;
    margin-top: 3rem;
    padding: var(--sectionspacingxl) var(--inset3xl) var(--sectionspacingxl) var(--inset3xl);
    gap: var(--sectionspacinglg);
    border: 1px solid black;
}

.testimonial {
    position: absolute;
    width: 90rem;
    height: 56.75rem;
    top: 143.5rem;
    padding: var(--sectionspacing3xl) var(--inset3xl) var(--sectionspacing2xl) var(--inset3xl);
    gap: var(--sectionspacingmd);
    border: 1px solid black;
}

.partner {
    position: absolute;
    width: 90rem;
    height: 20.125rem;
    border: 1px solid black;
    padding: var(--stack4xl) 2rem var(--sectionspacinglg) 2rem;
    gap: var(--stackxl);
    top: 200.25rem;
}

.frame {
    position: absolute;
    width: 90rem;
    height: 31.25rem;
    border: 1px solid black;
    gap: 0px;
    top: 222.0625rem;
}

.Contact {
    position: absolute;
    width: 84.375rem;
    height: 39.1875rem;
    border: 1px solid black;
    gap: 0px;
    top: 253.3125rem;
    left: 2.8125rem;
}

.footer {
    position: absolute;
    width: 90rem;
    height: 32.75rem;
    top: 292.625rem;
    padding: var(--sectionspacingxl) var(--inset3xl) var(--inset4xl) var(--inset3xl);
    gap: 4.5rem;
    border: 1px solid black;
}