.main-container {
    width: 1440px;
    height: 53120px;
}

.hirebright {
    border: 1px solid black;
    height: 48px;
    width: 199.648px;
    margin-top: 55.008px;
    margin-left: 72px;
}

.navbar {
    position: absolute;
    width: 896px;
    height: 45px;
    top: 56px;
    left: 426px;
    display: flex;
    justify-content: space-between;
}

.content-wrapper {
    position: absolute;
    width: 860px;
    max-width: 860px;
    height: 308px;
    top: 222px;
    left: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.screen {
    position: absolute;
    width: 1204px;
    height: 480px;
    top: 610px;
    left: 118px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/Container.png');
}

.box {
    position: absolute;
    width: 1165px;
    height: 690px;
    top: 1170px;
    left: 114px;
    gap: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.trial {
    position: absolute;
    width: 1336px;
    max-width: 1440px;
    height: 512px;
    top: 1860px;
    margin-top: 48px;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.testimonial {
    position: absolute;
    width: 1440px;
    height: 908px;
    top: 2296px;
    padding: var(--sectionspacing3xl) var(--inset3xl) var(--sectionspacing2xl) var(--inset3xl);
    gap: var(--sectionspacingmd);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.partner {
    position: absolute;
    width: 1440px;
    height: 322px;
    border: 1px solid black;
    padding: var(--stack4xl) 32px var(--sectionspacinglg) 32px;
    gap: var(--stackxl);
    top: 3204px;
}

.frame {
    position: absolute;
    width: 1440px;
    height: 500px;
    gap: 0px;
    top: 3553px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Contact {
    position: absolute;
    width: 1350px;
    height: 627px;
    gap: 0px;
    top: 4053px;
    left: 45px;
}

.footer {
    position: absolute;
    width: 1440px;
    height: 524px;
    top: 4682px;
    padding: var(--sectionspacingxl) var(--inset3xl) var(--inset4xl) var(--inset3xl);
    gap: 72px;
}